/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}
/* Common */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.colum-left, .right-colum {
    float: left;
}

.small-button-blue-white {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    padding: 5px 15px;
    background-color: #0061ff;
}

.big-button-blue-white {
    background-color: #0061ff;
    color: #fff;
    padding: 8px 28px;
}

/* /Common */
/* Nav left */
.colum-left li, .colum-right li {
    display: inline-block;
    text-align: center;
    line-height: 80px;
}

.colum-left li a, .colum-right li a {
    color: #000;
    vertical-align: middle;
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
}

.colum-left li div img {
    margin-left: 20px;
    margin-right: 40px;
    vertical-align: middle;
}
/* /Nav left */
/* Nav Right */
.colum-right{
    float: right;
}

.colum-right ul li:last-child a {
    color: #fff;
    margin-right: 20px;   
}
/* /Nav Right */
/* Main Jumbo */
.background-header {
    background-color: #b4d0e7;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: -90px;
}

.container div h1 {
    font-size: 80px;
    width: 90%;
}

.colum-l50 {
    float: left;
    width: calc(100% / 2);
}

.colum-l50 p:first-child {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 400;
}

.colum-l50 p:last-child {
    margin-top: 20px;
}

.colum-l50 a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.colum-r50 {
    float: left;
    width: 50%;
}

.colum-r50 > img {
    height: 550px;
}
/* /Main Jumbo */