/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}
/* Common */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.colum-left, .right-colum {
    float: left;
}

.small-button-blue-white {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    padding: 5px 15px;
    background-color: #0061ff;
}

.big-button-blue-white {
    background-color: #0061ff;
    color: #fff;
    padding: 8px 28px;
}

.big-button-blue-white-colum, .big-button-right {
    background-color: #0061ff;
    color: #fff;
    padding: 10px 62px;
}
/* /Common */
/* Nav left */
.colum-left li, .colum-right li {
    display: inline-block;
    text-align: center;
    line-height: 80px;
}

.colum-left li a, .colum-right li a {
    color: #000;
    vertical-align: middle;
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
}

.colum-left li div img {
    margin-left: 20px;
    margin-right: 40px;
    vertical-align: middle;
}
/* /Nav left */
/* Nav Right */
.colum-right{
    float: right;
}

.colum-right ul li:last-child a {
    color: #fff;
    margin-right: 20px;   
}
/* /Nav Right */
/* Main Jumbo */
.background-header {
    background-color: #b4d0e7;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: -80px;
}

.container div h1 {
    font-size: 80px;
    width: 90%;
}

.colum-l50 {
    float: left;
    width: calc(100% / 2);
}

.colum-l50 p:first-child {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 500;
}

.colum-l50 div {
    margin: 20px 0px;
    font-weight: 500;
}

.colum-r50 {
    float: left;
    width: 50%;
}

.colum-r50 > img {
    width: 100%;
    padding-top: 50px;
}

.fa-arrow-down {
    margin-top: 15px;
    font-size: 40px;
}
/* /Main Jumbo */
/* Main Plan */
.container2 {
    width: 70%;
    margin: 0 auto;
}

.container2 > h2 {
    font-size: 50px;
    padding-top: 215px;
    margin-bottom: 60px;
}

label {
    font-weight: 400;
    font-size: 18px;
}

.radio-r {
    margin-left: 20px;
}

.business-plan {
    margin-top: 40px;
}

.first-colum, .second-colum, .third-colum {
    float: left;
    width: calc((100% / 3) - 40px);
    min-height: 1200px;
}
/* Main Colum */
.first-colum, .second-colum, .third-colum, .last-colum {
    border: 1px solid #d0d0d3;
}

.second-colum {
    margin-left: 60px;
    margin-right: 60px;
}

.single-txt {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 10px;
}

.single-txt i {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

.single-plan {
    width: 80%;
    margin: 0 10%;
}

.single-plan h3, .single-plan2 h3 {
    margin-top: 30px;
    font-size: 27px;
}

.price {
    margin-top: 18px;
    margin-bottom: 13px;
    font-weight: 700;
}

.quick-description {
    color: #637381;
    margin-bottom: 50px;
}

.single-plan span {
    font-weight: 500;
}

.far.fa-user, .fas.fa-user-plus {
    font-size: 17px;
}

.cloud-space {
    margin: 30px 0px;
}

.try-button {
    margin-top: 55px;
    margin-bottom: 30px;
}

.buy-now {
    text-decoration: underline;
    color: #0061ff;
}
.single-plan hr {
    width: 20%;
    margin-top: 35px;
    margin-bottom: 40px;
    color: #d0d0d3;
    border-top-width: 0px;
    border-top-style: solid;
}

.single-plan h4 {
    font-size: 20px;
}

.fa-check {
    color: #0061ff;
}

.highlights-plan > div {
    margin-top: 35px;
    margin-bottom: 35px;
}

.last-colum {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 100%;
    min-height: 250px;
}

.single-plan2 {
    width: 94%;
    margin: 0 3%;
}

.button-right {
    position: relative
}

.big-button-right {
    position: absolute;
    right: 0;
}

.sales-office {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}
/* /Main Colum */
/* Main Plan */
/* Find pattern */
.partner-left, .partner-right {
    float: left;
    width: 50%;
}

.partner-left > img {
    width: 100%;
}

.partner-right {
    padding-top: 50px;
}

.join-partner {
    margin: 0 10%;
}

.join-partner h3 {
    font-size: 28px;
}

.join-partner p {
    margin: 30px 0px;
    font-size: 18px;
    line-height: 2;
}

.find-partner-buttom {
    color: #000;
    padding: 8px 28px;
    border: 1px solid black;
}
/* /Find pattern */
/* Features tools */
.tools-column-left, .tools-column-center, .tools-column-right {
    float: left;
    width: calc((100% / 3) - 60px);
}

.tools-column-left img, .tools-column-center img, .tools-column-right img {
    width: 100%;
}

.tools-column-left h3, .tools-column-center h3, .tools-column-right h3 {
    margin-bottom: 30px;
    font-size: 28px;
}

.tools-column-left p, .tools-column-center p, .tools-column-right p {
    font-size: 18px;
}

.tools-column-left p span {
    text-decoration: underline;
}

.tools-column-center {
    margin: 0px 60px;
}

.features {
    margin-top: 130px;
}
/* /Features tools */
.test {
    width: 55%;
}

.test h2 {
    margin-top: 210px;
    margin-bottom: 40px;
    font-size: 50px;
}

.test a {
    text-decoration: underline;
    font-size: 18px;
    color: #0061ff;
}

